<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form action="/" method="post">
                    <input autocompLETE="off" name="name" placeholder="name" type="text">
                    <input autocompLETE="off" name="month" min="0" placeholder="month" step="1" type="number">
                    <input autocompLETE="off" name="day" min="0" placeholder="day" step="1" type="number">
                    <button type="submit">Add Birthday</button>
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for celebrant in birthdays %}
                            <tr>
                                <td>{{ celebrant.name }}</td>
                                <td>{{ celebrant.month }}/{{ celebrant.day }}</td>
                                <td>
                                    <form action="/deregister" method="post">
                                        <input name="id" type="hidden" value="{{ celebrant.id }}">
                                        <input type="submit" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
